<% var title = 'Chatlogs' %>
<% include head %>

<h1>Logfiles</h1>


  <p>
   
  </p>
  <p>
    
  </p>
  <p>
      

      <a href="/restricted"><button>Back</button></a>
      <a href="/chatlogs"><button>Reload</button></a>
      
  </p>



<% include foot %>
