<% var title = 'Page' %>
<% include head %>

<h1>Bot Console</h1>


  <p>
   
  </p>
  <p>
    
  </p>
  <p>
      
      <a href="/startbot"><button>Start Bot</button></a>
      <a href="/stopbot"><button>Stop Bot</button></a>
      <a href="/chatlogs"><button>logs</button></a>
      
  </p>

    


<% include foot %>
